@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body{
    line-height: 1.5;
    background-color: #ffffc7;
    font-family: 'Roboto', sans-serif;
}

  .card-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
    margin: 0 30px;
    min-height: 700px;
  }
  .img-showcase{
    max-width: 500px;
    min-width: 290px;
    overflow: hidden;
    margin: 25px;
  }
  .img-showcase img{
    max-height: 400px;
    display: block;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #a9f1df;
  }

  .img-select {
      margin: 0 3em;
  }
  
  .card-wrapper .product-content{
    max-width: 500px;
    min-width: 290px;
    margin: 25px;
  }
  
  .product-conten h2{
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .title-price {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product-content .colors button{
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    outline: none;
    margin-right: 5px;
    cursor: pointer;
  }
  .product-content p{
    padding: 1rem;
  }
  .thumb{
    width: 100%;
    height: 100px;
    display: flex;
    cursor: pointer;
    margin: 10px 0;
  }
  .thumb img{
    width: 90px;
    height: 100%;
    display: block;
    object-fit: cover;
    border: 1px solid #a9f1df;
    margin-right: 0.4rem;
    opacity: 0.7;
    border-radius: 10px;
  }

  .thumb img:hover{
    opacity: 0.9;
  }

  .thumb img.active{
    opacity: 1;
    border: 2px solid #1eae98;
  }
  
  .product-title{
    font-size: 2.7rem;
    text-transform: capitalize;
    font-weight: 600;
    position: relative;
    color: #1eae98;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #1eae98;
}

.product-price{
    font-size: 1rem;
    font-weight: 700;
}

.price span{
    font-weight: bolder;
    color: #233e8b;
}

.product-detail h2{
    color: #1eae98;
}

.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(./img/checked1.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.6rem;
    margin: 0.3rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    font-size: large;
    border: 1.5px solid #ffffc7;
    border-radius: 25px;
    text-align: center;
    padding: 0.55rem 1rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #ffffc7;
}
.purchase-info .btn:first-of-type{
    background: #1eae98;
}
.purchase-info .btn:last-of-type{
    background: #233e8b;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}


@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}


  @media (max-width: 500px){
    .thumb{
      height: 50px;
    }
    .thumb img{
      width: 50px;
    }
  }
  