*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}

.main-footer {
    color: #ffffc7;
    background-color: #233e8b;
    position: relative;
    bottom: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}

.col {
    padding: 15px 5em;
}

h4 {
    margin: 5px;
}

.link:hover {
    cursor: pointer;
    color: #a9f1df;
    transform: scale(1.1);
}

@media screen and (max-width: 840px){
    .col {
        padding: 15px 2em;
    }
}